name: Go
#어떤 이벤트 발생했을 때
#cron - 주기적인 작엄

on:
	push:
     		branches: ["main"]  #main branch에 push 이벤트 발생
	pull_request:
     		branches: ["main"]  #main branch에 pr 이벤트 발생

jobs:
	build:
		runs-on: ubuntu-latest
		steps:
      		- uses: actions/checkout@v3
		
  		- name: Set Up Go
    			uses: actions/setup-go@v3
			with:
				go-version: 1.15
       
      		- name: Build
			run: go build -v ./...
			
			- name: Login to DockerHub
				uses: docker/login-action@v1
				with:
					username: dhyeon1320
					password: goapplication

			- name: build and release to DockerHub
				env:
					NAME: dhyeon1320
					REPO: gitaction
				run:
					docker build -t $REPO .
					docker tag $REPO:latest $NAME/$REPO:latest
					docker push $NAME/$REPO:latest
